In [1]:
import pandas as pd
import os

In [2]:
df_list = []

# Caminho dos arquivos .csv
pathFiles = os.getcwd() + '\\data'

for file in os.listdir(pathFiles):
    filePath = os.path.join(pathFiles, file)
    df = pd.read_csv(filePath, sep=';', encoding='latin-1')
    df_list.append(df)
    #print(filePath)

df = pd.concat(df_list)
df.reset_index(drop=True, inplace=True)
df[:20]

,cod_pessoa,nome,genero,data_nascimento,data_compra,fabricante,modelo,valor
0,1016,Maria Clara,Feminino,1986-11-21,2020-01-12,Fiat,Uno Attractive 1.0,50004
1,1061,Bianca,Feminino,1989-02-21,2020-02-11,Fiat,Mobi Easy 1.5,40449
2,1086,Analu,Feminino,1977-08-05,2020-02-11,Volkswagen,Fox Connect 1.6,57640
3,1117,Samuel,Masculino,1989-11-22,2020-02-11,Fiat,Uno Attractive 1.0,50004
4,1139,Cauã,Masculino,1961-09-14,2020-02-11,Lifan,530 Talent 1.5,43990
5,1118,Enzo Gabriel,Masculino,1984-02-15,2020-02-12,Ford,Ka S 1.0,51990
6,1048,Maria-,Feminino,1992-09-18,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590
7,1050,Ana Laura,Feminino,1997-10-15,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590
8,1075,Mariah,Feminino,1969-11-05,2020-03-11,Volkswagen,Gol 1.0,54150
9,1092,Ana Vitória,Feminino,1963-12-05,2020-03-11,Hyndai,Hyundai HB20 1.0 Sense,49590
10,1193,José,Masculino,1974-01-03,2020-03-11,Fiat,Grand Siena Attractive 1.,54297
11,1000,Alice,Feminino,1992-06-20,2020-03-12,Volkswagen,Gol 1.0,54150
12,1019,Lara,Feminino,1966-05-11,2020-03-12,Volkswagen,Gol 1.0,54150
13,1096,Luana,Feminino,1969-01-24,2020-03-12,Fiat,Mobi Easy 1.5,40449
14,1178,Martin,Masculino,1967-06-01,2020-03-12,Fiat,Mobi Easy 1.5,40449
15,1024,Ana Júlia,Feminino,1968-05-27,2020-04-11,Renault,Kwid Life 1.0,39390
16,1141,Vicente,Masculino,1972-08-30,2020-04-11,Fiat,Grand Siena Attractive 1.,54297
17,1111,Lucas,Masculino,1970-09-27,2020-05-11,Volkswagen,Gol 1.0,54150
18,1140,Antônio,Masculino,1991-06-22,2020-05-11,Renault,Kwid Life 1.0,39390
19,1047,Letícia,Feminino,1996-04-02,2020-05-12,Volkswagen,Gol 1.0,54150

In [3]:
import MySQLdb
import sqlalchemy
from sqlalchemy import text

Conexão com o banco de dados

In [4]:
user = 'root'
password = 'mysqlpwd'
host = 'localhost'
database = 'coletaIGTI'

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
string_conexao

'mysql://root:mysqlpwd@localhost/coletaIGTI'

In [5]:
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

In [6]:
# Dataframes de pessoas e modelos
df_pessoas = df[['cod_pessoa', 'nome', 'genero', 'data_nascimento']].drop_duplicates()
df_modelos = df[['modelo', 'fabricante']].drop_duplicates()

# Criado como uma lista pois possui apenas uma coluna
fabricantes = list(df.fabricante.unique())

Conferindo uma amostra dos dados

In [7]:
df_pessoas[:10]

   cod_pessoa          nome     genero data_nascimento
0        1016   Maria Clara   Feminino      1986-11-21
1        1061        Bianca   Feminino      1989-02-21
2        1086         Analu   Feminino      1977-08-05
3        1117        Samuel  Masculino      1989-11-22
4        1139          Cauã  Masculino      1961-09-14
5        1118  Enzo Gabriel  Masculino      1984-02-15
6        1048        Maria-   Feminino      1992-09-18
7        1050     Ana Laura   Feminino      1997-10-15
8        1075        Mariah   Feminino      1969-11-05
9        1092   Ana Vitória   Feminino      1963-12-05

In [8]:
df_modelos[:10]

                       modelo  fabricante
0          Uno Attractive 1.0        Fiat
1               Mobi Easy 1.5        Fiat
2             Fox Connect 1.6  Volkswagen
4              530 Talent 1.5       Lifan
5                    Ka S 1.0        Ford
6      Hyundai HB20 1.0 Sense      Hyndai
8                     Gol 1.0  Volkswagen
10  Grand Siena Attractive 1.        Fiat
15              Kwid Life 1.0     Renault
27                   Argo 1.0        Fiat

In [9]:
fabricantes

['Fiat', 'Volkswagen', 'Lifan', 'Ford', 'Hyndai', 'Renault']

In [ ]:
for pessoa in df_pessoas.itertuples():
    cod_pessoa = pessoa.cod_pessoa
    nome = pessoa.nome
    genero = pessoa.genero
    data_nascimento = str(pessoa.data_nascimento)
    try:
        query = f"""insert into pessoa(cod_pessoa, nome, genero, data_nascimento) values 
                    ('{cod_pessoa}', '{nome}', '{genero}', '{data_nascimento}')"""
        conn.execute(text(query))
        conn.commit()
        print(query)
        print(f'Registro inserido com sucesso: {nome}')

    except Exception as e:
        print(f'Não foi possível inserir o registro {nome}. O erro encontrado foi: {e}.')